
.containerFondo{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  background-image: url("../../images/fondoMadera.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.cardFront2{
  width:100%;
  height:70%;
  border-radius: 5px;
}
.subtitulos{
  font-weight: 450;
  font-size: 22px;
  font-family: 'Tenali Ramakrishna', sans-serif;
  color: rgb(69, 61, 54);
}
.subtitulos2{
  font-weight: 450;
  font-size: 18px;
  font-family: 'Tenali Ramakrishna', sans-serif;
  color: rgb(69, 61, 54);
}
.subtitulosMarcador{
  font-weight: bold;
  font-size: 26px;
  font-family: 'Tenali Ramakrishna', sans-serif;
  color: rgb(79, 48, 14);
}
.marcador{
  width:100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.divMarcador{
  width: 50%;
  text-align: right;
}
.imgTitle{
  width: 500px;
  height: 80px;
}
.panelBuildings{
  height: 600px;
	width: 100%;
	overflow-y: scroll;
}

.panelBuildings::-webkit-scrollbar {
    width: 6px;
    height: 2px;
    /* display: none; */
}

.panelBuildings::-webkit-scrollbar-thumb {
    background: #baad75;
    border-radius: 5px;
}

.halfRow-build{
  width:50%;
  height: 250px;
  padding: 5px;
}

.half-content{
  width:25%;
  height: 120px;
  padding:3px;
  border-style: none;
}

.half-contentAmarillo{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  box-shadow: 3px 3px 3px 3px rgba(249, 203, 10, 0.92);
  border-radius: 5px;
}

.half-contentNaranja{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  box-shadow: 3px 3px 3px 3px rgba(231, 124, 14, 0.92);
  border-radius: 5px;
}

.half-contentRojo{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  box-shadow: 3px 3px 3px 3px rgba(218, 40, 15, 0.96);
  border-radius: 5px;
}

.half-contentGris{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  box-shadow: 3px 3px 3px 3px rgba(92, 81, 56, 0.96);
  border-radius: 5px;
}

.half-contentVerde{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  box-shadow: 3px 3px 3px 3px rgba(5, 124, 35, 0.96);
  border-radius: 5px;
}

.half-contentNegro{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  box-shadow: 3px 3px 3px 3px rgba(11, 14, 33, 0.96);
  border-radius: 5px;
}

.half-contentAzul{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  box-shadow: 3px 3px 3px 3px rgba(14, 121, 168, 0.96);
  border-radius: 5px;
}

.half-content-enabled{
  width:25%;
  height: 120px;
  padding:3px;
  cursor: pointer;
}

.half-content-disabled{
  width:25%;
  height: 120px;
  padding:3px;
  pointer-events: none;
}

.halfRow-board{
  width:100%;
  height: 100%;
  background-image: url("../../images/pasto.jpg");
  border-radius: 2px;
  background-size: 100% 100%;
}

.titleCard{
  width:100%;
  padding-left: 10px;
  padding-top: 5px;
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(56, 40, 29)
}

.contImg{
  width: 100%;
  padding-top: 115px;
  text-align: center;
  align-items: center;
}

.formImg1{
  width:100px;
  height: 55px;
}

.formImg2{
  width:70px;
  height: 60px;
}

.formImg3{
  width:70px;
  height: 40px;
}

.three-build{
  width:30%;
  height: 100px;
  padding: 5px;
  cursor: pointer;
}

.three-build-disable{
  width:30%;
  height: 100px;
  padding: 5px;
  cursor: pointer;
  pointer-events: none;
}

.three-build-enabled{
  width:30%;
  height: 100px;
  padding: 5px;
  cursor: pointer;
  pointer-events: all;
}

.contImgRec{
  padding: 5px;
  justify-content: center;
  text-align: center;
}

.contImgRec{
  padding: 5px;
  justify-content: center;
  text-align: center;
}

.imgRecEd{
  padding-top: 5px;
  width: 70%;
  height: 90%;
}

.yCardBack{
  background-image: url("../../images/buildingCards/amarillaTrasera.jpg");
  background-size: 100% 100%;
}

.oCardBack{
  background-image: url("../../images/buildingCards/naranjaTrasera.jpg");
  background-size: 100% 100%;
}

.rCardBack{
  background-image: url("../../images/buildingCards/rojaTrasera.jpg");
  background-size: 100% 100%;
}

.gCardBack{
  background-image: url("../../images/buildingCards/grisTrasera.jpg");
  background-size: 100% 100%;
}

.vCardBack{
  background-image: url("../../images/buildingCards/verdeTrasera.jpg");
  background-size: 100% 100%;
}

.bCardBack{
  background-image: url("../../images/buildingCards/negraTrasera.jpg");
  background-size: 100% 100%;
}

.blueCardBack{
  background-image: url("../../images/buildingCards/azulTrasera.jpg");
  background-size: 100% 100%;
}

.centradoButton{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(223, 193, 33);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Tenali Ramakrishna', sans-serif;
}

.but{
  position: relative;
  display: inline-block;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
